extends ../layout

block content
    h1= title

    if feature_list.length
        table(class='table')
            thead
                tr
                    th #
                    th name
                    th description
                    th actions
            tbody
                each feature, index in feature_list
                    tr
                        th #{index + 1}
                        td #{feature.name}
                        td #{feature.description}
                        td
                            a(href=feature.url type='button' class='btn btn-sm btn-outline-secondary') View
    else
        h2 There are no features.