extends ../layout

block content
    h1 #{title}

    if errors
        ul
            for error in errors
                li!= error.msg

    form(method='POST' action='')
        div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='Name of model' name='name' required='true' value=(undefined===model ? '' : model.name) )
        div.form-group
            label(for='brand') Brand:
            select#brand.form-control(type='select', placeholder='Select Brand' name='brand' required='true' )

                for brand in brands
                    if model
                        //- Handle GET form, where book.author is an object, and POST form, where it is a string.
                        option(
                            value=brand._id
                            selected=(
                                brand._id.toString() == model.brand._id
                                || brand._id.toString() == model.name
                            ) ? 'selected' : false
                        ) #{brand.name}
                    else
                        option(value=brand._id) #{brand.name}
        div.form-group
            label(for='production_start') production started:
            input#production_start.form-control(type='date' placeholder='Date' name='production_start' value=(undefined === model ? '' : model.production_start_yyyy_mm_dd))
        div.form-group
            label(for='production_end') production ended:
            input#production_end.form-control(type='date' placeholder='Date' name='production_end' value=(undefined === model ? '' : model.production_start_yyyy_mm_dd))
        div.form-group
            label(for='type') type:
            select#type.form-control(type='select' placeholder='Select status' name='type' required='true')
                option(value='Sedan') Sedan
                option(value='SUV') SUV
                option(value='Coupe') Coupe
        div.form-group
            label Features:
            div
                for feature in features
                    div(class='form-check form-check-inline')
                        input.form-check-input(type='checkbox', name='feature', id=feature._id, value=feature._id, checked=feature.checked )
                        label.form-check-label(for=feature._id) #{feature.name}
        button.btn.btn-primary(type='submit') Submit