extends ../layout

block content
    h1 Brand: #{brand.name}

    div(class='d-flex justify-content-between align-items-center')
        div(class='btn-group')
            a(href=brand.url + '/upload_logo' type='button' class='btn btn-lg btn-info') Upload brand logo
            a(href=brand.url + '/update' type='button' class='btn btn-lg btn-secondary') Update brand
            a(href=brand.url + '/delete' type='button' class='btn btn-lg btn-danger') Delete brand

    h4 Models
    if brand_models.length
        table(class='table')
            thead
                tr
                    th #
                    th name
                    th type
                    th production start
                    th production end
                    th actions
            tbody
                each model, index in brand_models
                    tr
                        th #{index + 1}
                        td #{model.name}
                        td #{model.type}
                        td #{model.production_start_yyyy_mm_dd}
                        td #{model.production_end_yyyy_mm_dd}
                        td
                            a(href=model.url type='button' class='btn btn-sm btn-outline-secondary') View
    else
        p This brand has no models