extends ../layout

block content
    h1 #{title}: #{brand.name}
    p= brand.founded_formatted

    if brand_models.length

        p #[strong Delete the following models before attempting to delete this brand.]

        div(style='margin-left:20px;margin-top:20px')

            h4 models

            dl
            each model in brand_models
                dt
                    a(href=model.url) #{model.name}

    else
        p Do you really want to delete this Brand?

        form(method='POST' action='')
            div.form-group
                input#brandid.form-control(type='hidden',name='brandid', required='true', value=brand._id )

            button.btn.btn-primary(type='submit') Delete